.home {
  text-align: center;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: black;
}

.container {
  display: grid;
  height: calc(100vh - 18px);
  grid-template-rows: 60px auto 60px;
  padding-left: 80px;
  padding-right: 80px;
}

.header {
  display: grid;
  grid-area: 1/1/1/1;
  padding: 10px;
  border-bottom: 1px solid black;
}

.header-inner {
  display: flex;
  width: 100%;
  align-items: center;
}

.header-content-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-content-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  justify-content: space-between;
}

.about {
  text-align: center;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: black;
  padding-right: 10px;
}

.twitter-link {
  padding-left: 5px;
  padding-right: 5px;
}

.instagram-link {
  padding-left: 10px;
}

.content {
  display: grid;
  height: 100%;
  grid-area: 2/1/2/1;
  grid-template-rows: 200px 100px 1fr;
}

.blog-image {
  padding-top: 20px;
  display: flex;
  min-width: 100%;
  grid-area: 1/1/1/1;
  justify-content: center;
}

.blog-title {
  display: flex;
  max-height: 100%;
  grid-area: 2/1/2/1;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: black;
}

.blog-author {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: black;
}

.blog-author-avatar {
  display: flex;
  justify-content: center;
}

.blog-author-avatar > img {
  width: 70%;
  border-radius: 100%;
}

.blog-content {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: black;
}

.footer {
  grid-area: 3/1/3/1;
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  align-items: center;
}

.privacy-policy {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: black;
  padding: 10px;
}

.terms-and-conditions {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: black;
  padding: 10px;
}
