@import url(../css/common/body.css);
@import url(../css/common/header.css);
@import url(../css/common/container-layout.css);
@import url(../css/common/card.css);
@import url(../css/common/footer.css);

.title-one {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: lighter;
  color: black;
}
.title-two {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 48px;
  color: black;
}

.content {
  display: grid;
  height: 100%;
  grid-area: c;
  padding-left: 20px;
  padding-right: 20px;
}

.content-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 600px) {
  .content {
    grid-area: c;
    grid-column: 1/9;
  }
}
