.footer {
  margin-top: 20px;
  grid-area: f;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccb9bc;
}

.privacy-policy {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: black;
  padding-left: 10px;
}

.terms-and-conditions {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: black;
  padding: 10px;
}

@media screen and (min-width: 600px) {
  .footer {
    margin-top: 20px;
    grid-area: f;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccb9bc;
  }
}
