.header {
  display: grid;
  grid-area: 1/1/1/1;
  padding: 20px;
  background-color: #ccb9bc;
}

.header-inner {
  display: flex;
  width: 100%;
  align-items: center;
}

.header-content-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-content-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  justify-content: space-between;
}

.blog-name {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: black;
}

.home {
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: black;
  padding-right: 10px;
}

.about {
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: black;
  padding-right: 10px;
}

.twitter-link {
  padding-left: 5px;
  padding-right: 5px;
}

.instagram-link {
  padding-left: 10px;
}
